<div class="message">
  <h3><%= item["name"] %></h3>
  <div class="details">
    <p>Post Title: <%= item["post_title"] %></p>
    <p>Post Body: <%= item["post_body"] %></p>
    <p>Post Date: <%= item["post_date"] %></p>
    <p>Image URL: <%= item["image_url"] %></p>
  </div>
  <% if item["show"] %>
    <p><%= item["post_body"] %></p>
  <% end %>
  <br/>
  <a href="/<%= item["id"].gsub(':','/') %>"><img src="<%= item["image_url"] %>" width="400px"/></a>
</div>
