    <% if session[:access_token] %>
      <a href="/logout">Logout</a>
    <% else %>
      <a href="<%= @url %>">Login with Google</a>
    <% end %>

    <% if session[:name] %>
      <h1>Welcome, <%= session[:name].capitalize %>!</h1>
    <% end %>

  <body>

    <div id="list">
      <ul>
        <% @messages.each do |posting| %>

          <li>
            <h1><a href="/messages/<%= posting["id"] %>">
                <%= posting["name"] %></a></h1>
            <br />

            <p><%= posting["message_title"] %></p>
            </p>

            <p><%= posting["message_body"] %></p>
            </p>

            <p><%= posting["message_date"] %></p>
            </p>

            <p><a href="/messages/<%= posting["id"] %>">
               <img src="<%= posting["image_url"] %>" width="400px"/></a>
            </p>

          </li>

        <% end %>
      </ul>
    </div>

    <footer><a href="/messages/new">Add Your Post</a></footer>

  </body>
</html>
