  <body>
    <div id="list">
      <ul>
        <%= @message["name"] %>
        <br></br>
        <%= @message["message_title"] %>
        <br></br>
        <%= @message["message_body"] %>
        <br></br>
        <%= @message["message_date"] %>
        <br></br>
        <%= @message["image_url"] %>
        <br></br>
        <%= @message["parse_url"] %>
        <br></br>
      </ul>

      <br></br>
      <a href="/messages/<%= @message["id"] %>/edit">Edit Message</a>

      <br></br>
      <form action="/messages/<%= @message["id"] %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Post">
      </form>
    </div>
  </body>
</html>

