  <body>
    <div id="list">
      <ul>
        <p>A post by:  <%= @message["name"] %></p>
        <br></br>
        <p>Post Title:  <%= @message["message_title"] %></p>
        <br></br>
        <p>Sup!  <%= @message["message_body"] %></p>
        <br></br>
        <p>Date:  <%= @message["message_date"] %></p>
        <br></br>
        <p>Image:  <%= @message["image_url"] %></p>
        <br></br>
        <p><a href="/messages/<%= @message["image_url"] %>">
           <img src="<%= @message["image_url"] %>" width="400px"/></a></p>
        <p><%=@title %></p>
      </ul>

      <br></br>
      <a href="/messages/<%= @message["id"] %>/edit">Edit Message</a>

      <br></br>
      <a href="/as/<%= @message["id"] %>">View as JSON</a>

      <br></br>
      <a href="/rss">View RSS</a>

      <br></br>
      <form action="/messages/<%= @message["id"] %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Post">
      </form>
    </div>
  </body>
</html>

